@use '../core';

@each $key, $value in core.$size-size {
    @include core.variations('m-#{$key}') {
        margin: $value;
    }

    @include core.variations('mx-#{$key}') {
        margin-left: $value;
        margin-right: $value;
    }

    @include core.variations('my-#{$key}') {
        margin-top: $value;
        margin-bottom: $value;
    }

    @include core.variations('ms-#{$key}') {
        margin-inline-start: $value;
    }

    @include core.variations('me-#{$key}') {
        margin-inline-end: $value;
    }

    @include core.variations('mt-#{$key}') {
        margin-top: $value;
    }

    @include core.variations('mr-#{$key}') {
        margin-right: $value;
    }

    @include core.variations('mb-#{$key}') {
        margin-bottom: $value;
    }

    @include core.variations('ml-#{$key}') {
        margin-left: $value;
    }
}
