@use '../core';
@use '../core/size';

@each $key, $value in size.$size {
    @include core.variations('p-#{$key}') {
        padding: $value;
    }

    @include core.variations('px-#{$key}') {
        padding-left: $value;
        padding-right: $value;
    }

    @include core.variations('py-#{$key}') {
        padding-top: $value;
        padding-bottom: $value;
    }

    @include core.variations('ps-#{$key}') {
        padding-inline-start: $value;
    }

    @include core.variations('pe-#{$key}') {
        padding-inline-end: $value;
    }

    @include core.variations('pt-#{$key}') {
        padding-top: $value;
    }

    @include core.variations('pr-#{$key}') {
        padding-right: $value;
    }

    @include core.variations('pb-#{$key}') {
        padding-bottom: $value;
    }

    @include core.variations('pl-#{$key}') {
        padding-left: $value;
    }
}
