@use '../core';
@use '../core/size';

@each $key, $value in size.$size {
    @include core.variations('space-x-#{$key}') {
        margin-left: $value;
    }

    @include core.variations('space-y-#{$key}') {
        margin-top: $value;
    }
}

@include core.variations('space-x-reverse') {
    --tw-space-x-reverse: 1;
}

@include core.variations('space-y-reverse') {
    --tw-space-y-reverse: 1;
}