@use '../core';
@use '../core/size';

@each $key, $value in size.$size {
    @include core.variations('max-w-#{$key}') {
        max-width: $value;
    }
}

$sizes: (
    'full': 100%,
    'screen': 100vw,
    'min': min-content,
    'max': max-content,
    'fit': fit-content,
    'fill': fill-available,
    'svw': 100svw,
    'lvw': 100lvw,
    'dvw': 100dvw,
);

@each $key, $value in $sizes {
    @include core.variations('max-w-#{$key}') {
        max-width: $value;
    }
}