@use '../core';

@each $key, $value in core.$size-size {
    @include core.variations('size-#{$key}') {
        height: $value;
        width: $value;
    }
}

$_sizes: (
    'full': 100%,
    'min': min-content,
    'max': max-content,
    'fit': fit-content,
    'fill': fill-available,
);

@each $key, $value in $_sizes {
    @include core.variations('size-#{$key}') {
        height: $value;
        width: $value;
    }
}
