@use '../core';

$_flex-wrap: (
  nowrap: nowrap,
  wrap: wrap,
  wrap-reverse: wrap-reverse,
);

@each $key, $value in $_flex-wrap {
    @include core.variations('flex-#{$key}') {
        flex-wrap: $value;
    }
}