@use '../core/breakpoints';

$_flex-wrap: (
  nowrap: nowrap,
  wrap: wrap,
  wrap-reverse: wrap-reverse,
);

@each $key, $value in $_flex-wrap {
    @include breakpoints.bp('flex-'#{$key}) {
            flex-wrap: $value;
    }
}