@use '../core/breakpoints';

$_flex-direction: (
  row: row,
  row-reverse: row-reverse,
  col: column,
  col-reverse: column-reverse,
);

@each $key, $value in $_flex-direction {
  @include breakpoints.bp($key) {
    .flex-#{$key} {
      flex-direction: $value;
    }
  }
}