@use '../core';

@each $size, $value in core.$size-size {
    @include core.variations('gap-#{$size}') {
        gap: #{$value};
    }

    @include core.variations('gap-x-#{$size}') {
        column-gap: #{$value};
    }

    @include core.variations('gap-y-#{$size}') {
        row-gap: #{$value};
    }
}
