@use "../core/breakpoints";

$_aspect-ratio : (
    "auto" : "0",
    "square" : "1 / 1",
    "video" : "16 / 9",
);

@each $name, $ratio in $_aspect-ratio {
    .aspect-#{$name} {
        aspect-ratio: #{$ratio};
        @include breakpoints.bp('aspect-#{$name}') {
            aspect-ratio: #{$ratio};
        }
    }
}