@use '../core/breakpoints';

$_break-before: (
    'auto': 'auto',
    'avoid': 'avoid',
    'all': 'all',   
    'avoid-column': 'avoid-column',
    'avoid-page': 'avoid-page',
    'avoid-region': 'avoid-region',
    'column': 'column',
    'page': 'page',
    'recto': 'recto',
    'region': 'region',
    'left': 'left',
    'right': 'right',
    'verso': 'verso',
);

@each $name, $value in $_break-before {
    .break-before-#{$name} {
        break-before: #{$value};
    }
    @include breakpoints.bp('break-before-#{$name}') {
        break-before: #{$value};
    }
}