@use '../core/breakpoints';

$_display: (
    'block': 'block',
    'inline': 'inline',
    'inline-block': 'inline-block',
    'flex': 'flex',
    'inline-flex': 'inline-flex',
    'grid': 'grid',
    'inline-grid': 'inline-grid',
    'table': 'table',
    'table-cell': 'table-cell',
    'table-column': 'table-column',
    'table-column-group': 'table-column-group',
    'table-footer-group': 'table-footer-group',
    'table-header-group': 'table-header-group',
    'table-row-group': 'table-row-group',
    'inline-table': 'inline-table',
    'table-caption': 'table-caption',
    'table-row': 'table-row',
    'flow-root': 'flow-root',
    'contents': 'contents',
    'list-item': 'list-item',
    'hidden': 'none',
);

@each $name, $value in $_display {
    .#{$name} {
        display: #{$value};
    }
    @include breakpoints.bp('#{$name}') {
        display: #{$value};
    }
}