@use '../core/breakpoints';

$_floats: (
    'start': 'inline-start',
    'end': 'inline-end',
    'left': 'left',
    'right': 'right',
    'none': 'none',
);

@each $name, $value in $_floats {
    .float-#{$name} {
        float: #{$value};
    }
    @include breakpoints.bp('float-#{$name}') {
        float: #{$value};
    }
}