@use '../core/breakpoints';

$_isolation: (
    'isolate': 'isolate',
    'isolation-auto': 'auto',
);

@each $name, $value in $_isolation {
    .#{$name} {
        isolation: #{$value};
    }
    @include breakpoints.bp('#{$name}') {
        isolation: #{$value};
    }
}