@use '../core';

$_overscrolls: (
    'auto': 'auto',
    'contain': 'contain',
    'none': 'none',
    'initial': 'initial',
    'inherit': 'inherit',
    'unset': 'unset',
);

@each $name, $value in $_overscrolls {
    @include core.variations('overscroll-#{$name}') {
        overscroll-behavior: #{$value};
    }

    @include core.variations('overscroll-x-#{$name}') {
        overscroll-behavior-x: #{$value};
    }

    @include core.variations('overscroll-y-#{$name}') {
        overscroll-behavior-y: #{$value};
    }
}
