@use '../core';

$_positions: (
    'static': 'static',
    'relative': 'relative',
    'absolute': 'absolute',
    'fixed': 'fixed',
    'sticky': 'sticky',
);

@each $name, $value in $_positions {
    @include core.variations('#{$name}') {
        position: #{$value};
    }
}

$_directions: (
    'top': 'top',
    'right': 'right',
    'bottom': 'bottom',
    'left': 'left',
    'inset': 'inset',
);

@each $name, $dir in $_directions {
    @each $size, $value in core.$size-size {
        @include core.variations('#{$name}-#{$size}') {
            #{$dir}: #{$value};
        }
    }
}

$_inset-directions: (
    'start': start,
    'end': end,
);

@each $name, $dir in $_inset-directions {
    @each $size, $value in core.$size-size {
        @include core.variations('#{$name}-#{$size}') {
            inset-inline-#{$dir}: #{$value};
        }
    }
}

@each $size, $value in core.$size-size {
    @include core.variations('inset-x-#{$size}') {
        left: #{$value};
        right: #{$value};
    }

    @include core.variations('inset-y-#{$size}') {
        top: #{$value};
        bottom: #{$value};
    }
}
